body {
	background-color:#e98ad0;
}
h1 {
	text-align:center;
	margin-top:50px;
	font-family: "PierceRoman";
	font-weight: normal;
	font-style: normal;
	font-size:50px;
	color:#60125c;
}
p {
	margin-left:500px;
	margin-right:500px;
	margin-bottom:40px;
	text-align:center;
	font-family: "Times New Roman", Times, serif;
	font-size:25px;
    color: purple;
}
.taille:hover {
	font-size:160px;
    color:rgb(255, 232, 57);
}

a {
	text-decoration:none;
	color:red;
}
a:link {
	color:rgb(234, 228, 228);
}
a:visited {
	color:rgb(242, 209, 209);
}
a:hover {
	color:rgb(79, 159, 245);
}
.confetti {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 25px;
    background-color: red;
    opacity: 0.9;
    transform-origin: center;
    animation: monter 4s linear infinite;
}
.confetti-1 { left: 0%; background: red; animation-delay: 1s; }
.confetti-2 { left: 0%; background: gold; animation-delay: 1.5s; }
.confetti-3 { left: 5%; background: blue; animation-delay: 2s; }
.confetti-4 { left: 95%; background: green; animation-delay: 0.9s; }
.confetti-5 { left: 100%; background: yellow; animation-delay: 1.7s; }
.confetti-6 { left: 100%; background: pink; animation-delay: 1.9s; }
.confetti-7 { left: 90%; background: orange; animation-delay: 2.5s; }
.confetti-8 { left: 5%; background: cyan; animation-delay: 3s; }

@keyframes monter {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: translateY(-150px) rotate(180deg);
    }
    100% {
        transform: translateY(-300px) rotate(360deg);
        opacity: 0;
    }
}
.ombre {
	text-shadow: 2px 4px 6px rgb(168, 11, 144);
	color: rgb(154, 0, 134);
}
img {
  display: block;
  width: 30%;
  margin: auto;
}
