body {
	background-color:#c0271c;
}

h1 {
	text-align:center;
	margin-top:50px;
	font-family: "PierceRoman";
	font-weight: normal;
	font-style: normal;
	font-size:45px;
	color:#ebdddd;
}
h2 {
	text-align:center;
	font-family: "Times New Roman", Times, serif;
	font-size:23px;
	color:rgb(68, 12, 12);
	font-style: italic;
}
p {
	margin-left:500px;
	margin-right:500px;
	margin-bottom:40px;
	text-align:center;
	font-family: "Times New Roman", Times, serif;
	font-size:15px;
    color:rgb(255, 185, 194);
}

.bouton-calendrier {
    padding: 12px 24px;
    font-size: 16px;
    font-family: inherit;
    color: #fff;
    background: linear-gradient(145deg, #ff6c6c, #ff4f4f);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow:
        5px 5px 10px rgba(0, 0, 0, 0.2),
        -5px -5px 10px rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.bouton-calendrier::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at center, rgba(255,255,255,0.4), transparent 70%);
    transform: scale(0);
    transition: transform 0.5s ease;
}

.bouton-calendrier:hover::before {
    transform: scale(1);
}

.bouton-calendrier:hover {
    background: linear-gradient(145deg, #ff8484, #ff7171);
    box-shadow:
        3px 3px 7px rgba(0, 0, 0, 0.2),
        -3px -3px 7px rgba(255, 255, 255, 0.3);
}

.bouton-calendrier:active {
    transform: translateY(2px);
    box-shadow:
        2px 2px 5px rgba(0, 0, 0, 0.2),
        -2px -2px 5px rgba(255, 255, 255, 0.3);
    }


.snow {
    position: fixed;
    top: 0;
    left: 0;
    width: 3px;
    height: 3px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    animation: fall 10s linear infinite;
    box-shadow: 
      50px 100px white,
      200px 50px white,
      300px 150px white,
      120px 220px white,
      500px 80px white,
      400px 300px white,
      250px 400px white,
      600px 250px white,
      700px 150px white,
      900px 300px white,
      800px 0px white,
      1000px 50px white,
      1100px 200px white,
      1200px 300px white,
      1300px 100px white,
      1400px 350px white;
}


@keyframes fall {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(100vh);
    }
}


.snow::after {
    content: "";
    position: fixed;
    top: -100vh;
    width: 3px;
    height: 3px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    animation: fall 10s linear infinite;
    box-shadow: 
      50px 100px white,
      200px 50px white,
      300px 150px white,
      120px 220px white,
      500px 80px white,
      400px 300px white,
      250px 400px white,
      600px 250px white,
      700px 150px white,
      900px 300px white,
      800px 0px white,
      1000px 50px white,
      1100px 200px white,
      1200px 300px white,
      1300px 100px white,
      1400px 350px white;
}


.tourne:hover {
	transform:rotate(180deg);
}

a {
	text-decoration:none;
	color:red;
}
a:link {
	color:rgb(254, 254, 254);
}
a:visited {
	color:rgb(242, 209, 209);
}
a:hover {
	color:rgb(79, 159, 245);
}