body {
	background-color:#062443;
}

h1 {
	text-align:center;
	margin-top:50px;
	font-family: "PierceRoman";
	font-weight: normal;
	font-style: normal;
	font-size:50px;
	color:#f9f2f2;
    text-decoration:underline; 
}
h2 {
    text-align:center;
	margin-top:50px;
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size:20px;
	color:#fcf819;
    text-decoration:italic; 
}

p {
	margin-left:200px;
	margin-right:200px;
	margin-bottom:40px;
	text-align:justify;
	font-family: "Times New Roman", Times, serif;
	font-size:20px;
    color:#f9f2f2;
}
a:link {
	color:rgb(234, 228, 228);
}
a:visited {
	color:rgb(234, 228, 228);
}
a:hover {
	color:rgb(255, 8, 0);
}

a {
	text-decoration:underline;
	color:#8cbded;
}

.snow {
    position: fixed;
    top: 0;
    left: 0;
    width: 3px;
    height: 3px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    animation: fall 10s linear infinite;
    box-shadow: 
      50px 100px white,
      200px 50px white,
      300px 150px white,
      120px 220px white,
      500px 80px white,
      400px 300px white,
      250px 400px white,
      600px 250px white,
      700px 150px white,
      900px 300px white,
      800px 0px white,
      1000px 50px white,
      1100px 200px white,
      1200px 300px white,
      1300px 100px white,
      1400px 350px white;
}


@keyframes fall {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(100vh);
    }
}


.snow::after {
    content: "";
    position: fixed;
    top: -100vh;
    width: 3px;
    height: 3px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    animation: fall 10s linear infinite;
    box-shadow: 
      50px 100px white,
      200px 50px white,
      300px 150px white,
      120px 220px white,
      500px 80px white,
      400px 300px white,
      250px 400px white,
      600px 250px white,
      700px 150px white,
      900px 300px white,
      800px 0px white,
      1000px 50px white,
      1100px 200px white,
      1200px 300px white,
      1300px 100px white,
      1400px 350px white;
}
img {
  display: block;
  width: 30%;
  margin: auto;
}





